    body {
        background-position: center;
        background-color: lightblue;
        margin: auto;
    }
    
    .column {
        width: 50%;
        padding: 10px;
    }
    /* } */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .horizonatl {
        float: left;
        padding: 10px;
        justify-content: space-evenly;
    }
    
    .header {
        align-items: center;
        display: flex;
    }